In [54]:
from pandas import *
from numpy import *
from sklearn.metrics import accuracy_score

In [2]:
df1 = read_csv("breastcancer.csv",delimiter=',',index_col=None)

In [3]:
df1.columns=['Class','age','menopause','tumor-size','inv-nodes','node-caps','deg-malig','breast','breast-quad','irradiat']

In [4]:
df1.head()

,Class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
2,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
3,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no
4,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,left,left_low,no

In [5]:
df1.shape

(285, 10)

In [6]:
df1.count()

Class          285
age            285
menopause      285
tumor-size     285
inv-nodes      285
node-caps      285
deg-malig      285
breast         285
breast-quad    285
irradiat       285
dtype: int64

In [7]:
df1.menopause.value_counts()

premeno    149
ge40       129
lt40         7
Name: menopause, dtype: int64

In [8]:
df1.isnull().sum()

Class          0
age            0
menopause      0
tumor-size     0
inv-nodes      0
node-caps      0
deg-malig      0
breast         0
breast-quad    0
irradiat       0
dtype: int64

In [9]:
df1.age.value_counts()

50-59    96
40-49    90
60-69    57
30-39    35
70-79     6
20-29     1
Name: age, dtype: int64

In [10]:
type(df1)

pandas.core.frame.DataFrame

In [11]:
# for i,rows in df1.iterrows():
#     if df1.loc[i,'age'] <= '39':
#         df1.loc[i,'age'] = 0
#     elif df1.loc[i,'age'] > '39' and df1.loc[i,'age'] <= '49':
#         df1.loc[i,'age'] = 1
#     elif df1.loc[i,'age'] > '49' and df1.loc[i,'age'] <= '59':
#         df1.loc[i,'age'] = 2
#     else:
#         df1.loc[i,'age'] = 3

In [12]:
df1.age.value_counts()

50-59    96
40-49    90
60-69    57
30-39    35
70-79     6
20-29     1
Name: age, dtype: int64

In [13]:
df1.head()

,Class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
2,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
3,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no
4,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,left,left_low,no

In [14]:
df1['tumor-size'].value_counts()

30-34    59
25-29    54
20-24    50
15-19    30
10-14    28
40-44    22
35-39    19
50-54     8
0-4       8
5-9       4
45-49     3
Name: tumor-size, dtype: int64

In [15]:
##list = asarray(df1['tumor-size'].unique()).tolist()

In [16]:
def avg(x,y):
    return sum(range(x,y+1))/len(range(x,y+1));

In [17]:
sum(range(0,5))

10

In [18]:
len(range(0,5))

5

In [19]:
for i, rows in df1.iterrows():
    list = str(df1.loc[i,'tumor-size']).split('-')
    list = str(df1.loc[i,'inv-nodes']).split('-')
    list = str(df1.loc[i,'age']).split('-')
    df1.loc[i,'tumor-size'] = avg(int(list[0]),int(list[1]))
    df1.loc[i,'inv-nodes'] = avg(int(list[0]),int(list[1]))
    df1.loc[i,'age'] = avg(int(list[0]),int(list[1]))

In [20]:
# a = str(df1['tumor-size'].unique()).split('-')
# type(a)
# print(a)

In [21]:
# s= 'abc-xyz'
# list = s.split('-')
# type(list)

In [22]:
b = df1['tumor-size'].unique()
type(b)

numpy.ndarray

In [23]:
df1['inv-nodes'].value_counts()

54.5    96
44.5    90
64.5    57
34.5    35
74.5     6
24.5     1
Name: inv-nodes, dtype: int64

In [24]:
df1

,Class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,no-recurrence-events,44.5,premeno,44.5,44.5,no,2,right,right_up,no
1,no-recurrence-events,44.5,premeno,44.5,44.5,no,2,left,left_low,no
2,no-recurrence-events,64.5,ge40,64.5,64.5,no,2,right,left_up,no
3,no-recurrence-events,44.5,premeno,44.5,44.5,no,2,right,right_low,no
4,no-recurrence-events,64.5,ge40,64.5,64.5,no,2,left,left_low,no
...,...,...,...,...,...,...,...,...,...,...
280,recurrence-events,34.5,premeno,34.5,34.5,no,2,left,left_up,no
281,recurrence-events,34.5,premeno,34.5,34.5,no,3,left,left_up,yes
282,recurrence-events,64.5,ge40,64.5,64.5,no,1,right,left_up,no
283,recurrence-events,44.5,ge40,44.5,44.5,no,3,left,left_low,no
284,recurrence-events,54.5,ge40,54.5,54.5,no,3,left,left_low,no

In [25]:
df1['age']=df1['age'].astype(float)

In [26]:
for col in ['age','tumor-size','inv-nodes']:
    df1[col]=df1[col].astype(float)

In [27]:
df1.dtypes

Class           object
age            float64
menopause       object
tumor-size     float64
inv-nodes      float64
node-caps       object
deg-malig        int64
breast          object
breast-quad     object
irradiat        object
dtype: object

In [28]:
int(list[0]),int(list[1])

(50, 59)

In [29]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [30]:
cat_var =df1.dtypes.loc[df1.dtypes == 'object'].index
cat_var
for var in cat_var:
    df1[var] = le.fit_transform(df1[var])
    
df1

,Class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,0,44.5,2,44.5,44.5,1,2,1,5,0
1,0,44.5,2,44.5,44.5,1,2,0,2,0
2,0,64.5,0,64.5,64.5,1,2,1,3,0
3,0,44.5,2,44.5,44.5,1,2,1,4,0
4,0,64.5,0,64.5,64.5,1,2,0,2,0
...,...,...,...,...,...,...,...,...,...,...
280,1,34.5,2,34.5,34.5,1,2,0,3,0
281,1,34.5,2,34.5,34.5,1,3,0,3,1
282,1,64.5,0,64.5,64.5,1,1,1,3,0
283,1,44.5,0,44.5,44.5,1,3,0,2,0
284,1,54.5,0,54.5,54.5,1,3,0,2,0

In [31]:
for col in df1.columns:
    print(col,':',df1[col].unique())

Class : [0 1]
age : [44.5 64.5 54.5 34.5 74.5 24.5]
menopause : [2 0 1]
tumor-size : [44.5 64.5 54.5 34.5 74.5 24.5]
inv-nodes : [44.5 64.5 54.5 34.5 74.5 24.5]
node-caps : [1 2 0]
deg-malig : [2 1 3]
breast : [1 0]
breast-quad : [5 2 3 4 1 0]
irradiat : [0 1]

In [32]:
#because v.few unique values and no nas 
for col in ['menopause','node-caps','deg-malig','breast-quad']:
    store_dum=get_dummies(df1[col],drop_first=True)
    df1=concat([store_dum,df1],axis=1)
    df1.drop([col],axis=1,inplace=True)

In [33]:
df1

,1,2,3,4,5,2,3,1,2,1,2,Class,age,tumor-size,inv-nodes,breast,irradiat
0,0,0,0,0,1,1,0,1,0,0,1,0,44.5,44.5,44.5,1,0
1,0,1,0,0,0,1,0,1,0,0,1,0,44.5,44.5,44.5,0,0
2,0,0,1,0,0,1,0,1,0,0,0,0,64.5,64.5,64.5,1,0
3,0,0,0,1,0,1,0,1,0,0,1,0,44.5,44.5,44.5,1,0
4,0,1,0,0,0,1,0,1,0,0,0,0,64.5,64.5,64.5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,0,0,1,0,0,1,0,1,0,0,1,1,34.5,34.5,34.5,0,0
281,0,0,1,0,0,0,1,1,0,0,1,1,34.5,34.5,34.5,0,1
282,0,0,1,0,0,0,0,1,0,0,0,1,64.5,64.5,64.5,1,0
283,0,1,0,0,0,0,1,1,0,0,0,1,44.5,44.5,44.5,0,0
284,0,1,0,0,0,0,1,1,0,0,0,1,54.5,54.5,54.5,0,0

In [34]:
df1.dtypes

1               uint8
2               uint8
3               uint8
4               uint8
5               uint8
2               uint8
3               uint8
1               uint8
2               uint8
1               uint8
2               uint8
Class           int32
age           float64
tumor-size    float64
inv-nodes     float64
breast          int32
irradiat        int32
dtype: object

In [35]:
df1.columns

Index([           1,            2,            3,            4,            5,
                  2,            3,            1,            2,            1,
                  2,      'Class',        'age', 'tumor-size',  'inv-nodes',
           'breast',   'irradiat'],
      dtype='object')

In [36]:
df1.breast.value_counts()

0    151
1    134
Name: breast, dtype: int64

In [37]:
x=df1.drop('irradiat',axis=1)

In [38]:
x

,1,2,3,4,5,2,3,1,2,1,2,Class,age,tumor-size,inv-nodes,breast
0,0,0,0,0,1,1,0,1,0,0,1,0,44.5,44.5,44.5,1
1,0,1,0,0,0,1,0,1,0,0,1,0,44.5,44.5,44.5,0
2,0,0,1,0,0,1,0,1,0,0,0,0,64.5,64.5,64.5,1
3,0,0,0,1,0,1,0,1,0,0,1,0,44.5,44.5,44.5,1
4,0,1,0,0,0,1,0,1,0,0,0,0,64.5,64.5,64.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,0,0,1,0,0,1,0,1,0,0,1,1,34.5,34.5,34.5,0
281,0,0,1,0,0,0,1,1,0,0,1,1,34.5,34.5,34.5,0
282,0,0,1,0,0,0,0,1,0,0,0,1,64.5,64.5,64.5,1
283,0,1,0,0,0,0,1,1,0,0,0,1,44.5,44.5,44.5,0
284,0,1,0,0,0,0,1,1,0,0,0,1,54.5,54.5,54.5,0

In [39]:
y=df1['irradiat']

In [40]:
y

0      0
1      0
2      0
3      0
4      0
      ..
280    0
281    1
282    0
283    0
284    0
Name: irradiat, Length: 285, dtype: int32

In [41]:
y.value_counts()

0    217
1     68
Name: irradiat, dtype: int64

In [42]:
import seaborn as sns
#sns.pairplot(df1)

In [43]:
from sklearn.preprocessing import StandardScaler 
sc = StandardScaler()

In [44]:
x=sc.fit_transform(x)

In [45]:
x

array([[-0.28203804, -0.78696771, -0.71830178, ..., -0.66552543,
        -0.66552543,  1.06153929],
       [-0.28203804,  1.27070016, -0.71830178, ..., -0.66552543,
        -0.66552543, -0.94202825],
       [-0.28203804, -0.78696771,  1.39217252, ...,  1.32059757,
         1.32059757,  1.06153929],
       ...,
       [-0.28203804, -0.78696771,  1.39217252, ...,  1.32059757,
         1.32059757,  1.06153929],
       [-0.28203804,  1.27070016, -0.71830178, ..., -0.66552543,
        -0.66552543, -0.94202825],
       [-0.28203804,  1.27070016, -0.71830178, ...,  0.32753607,
         0.32753607, -0.94202825]])

In [46]:
x=DataFrame(sc.fit_transform(x))

In [47]:
x

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,-0.282038,-0.786968,-0.718302,-0.303239,2.763397,1.091928,-0.646460,0.538138,-0.494511,-0.158682,0.955380,-0.65192,-0.665525,-0.665525,-0.665525,1.061539
1,-0.282038,1.270700,-0.718302,-0.303239,-0.361873,1.091928,-0.646460,0.538138,-0.494511,-0.158682,0.955380,-0.65192,-0.665525,-0.665525,-0.665525,-0.942028
2,-0.282038,-0.786968,1.392173,-0.303239,-0.361873,1.091928,-0.646460,0.538138,-0.494511,-0.158682,-1.046704,-0.65192,1.320598,1.320598,1.320598,1.061539
3,-0.282038,-0.786968,-0.718302,3.297726,-0.361873,1.091928,-0.646460,0.538138,-0.494511,-0.158682,0.955380,-0.65192,-0.665525,-0.665525,-0.665525,1.061539
4,-0.282038,1.270700,-0.718302,-0.303239,-0.361873,1.091928,-0.646460,0.538138,-0.494511,-0.158682,-1.046704,-0.65192,1.320598,1.320598,1.320598,-0.942028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,-0.282038,-0.786968,1.392173,-0.303239,-0.361873,1.091928,-0.646460,0.538138,-0.494511,-0.158682,0.955380,1.53393,-1.658587,-1.658587,-1.658587,-0.942028
281,-0.282038,-0.786968,1.392173,-0.303239,-0.361873,-0.915811,1.546886,0.538138,-0.494511,-0.158682,0.955380,1.53393,-1.658587,-1.658587,-1.658587,-0.942028
282,-0.282038,-0.786968,1.392173,-0.303239,-0.361873,-0.915811,-0.646460,0.538138,-0.494511,-0.158682,-1.046704,1.53393,1.320598,1.320598,1.320598,1.061539
283,-0.282038,1.270700,-0.718302,-0.303239,-0.361873,-0.915811,1.546886,0.538138,-0.494511,-0.158682,-1.046704,1.53393,-0.665525,-0.665525,-0.665525,-0.942028
284,-0.282038,1.270700,-0.718302,-0.303239,-0.361873,-0.915811,1.546886,0.538138,-0.494511,-0.158682,-1.046704,1.53393,0.327536,0.327536,0.327536,-0.942028

In [48]:
#applying stratified K fold
x.shape,y.shape

((285, 16), (285,))

In [55]:
from sklearn.model_selection import StratifiedKFold
accuracy = []
skf = StratifiedKFold(n_splits = 5,random_state=None)
skf.get_n_splits(x,y)
for train_index,test_index in skf.split(x,y):
    #print('Train:',train_index,'Validation :',test_index)
    x1train,x1test=x.iloc[train_index],x.iloc[test_index]
    y1train,y1test=y.iloc[train_index],y.iloc[test_index]
    model.fit(x1train,y1train)
    predict = model.predict(x1test)
    score=accuracy_score(predict,y1test)
    accuracy.append(score)
print(accuracy)

[0.7894736842105263, 0.8421052631578947, 0.7368421052631579, 0.5087719298245614, 0.38596491228070173]

In [56]:
array(accuracy).mean()

0.6526315789473685

In [57]:
from sklearn import model_selection
xtrain,xtest,ytrain,ytest = model_selection.train_test_split(x,y,test_size=0.3,random_state=42)

In [58]:
from sklearn import tree

In [59]:
model=tree.DecisionTreeClassifier()

In [60]:
model.fit(xtrain,ytrain)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [61]:
p=model.predict(xtest)

In [62]:
from sklearn.metrics import confusion_matrix,classification_report
print("Classification Report")
print (classification_report(ytest,p))

Classification Report
              precision    recall  f1-score   support

           0       0.84      0.84      0.84        70
           1       0.31      0.31      0.31        16

    accuracy                           0.74        86
   macro avg       0.58      0.58      0.58        86
weighted avg       0.74      0.74      0.74        86

In [63]:
from sklearn.metrics import confusion_matrix
cmd=confusion_matrix(ytest,p)
cmd

array([[59, 11],
       [11,  5]], dtype=int64)

In [64]:
model.score(xtest,ytest)

0.7441860465116279

In [65]:
from sklearn.linear_model import LogisticRegression

In [66]:
model_logistic=LogisticRegression(C = 0.0001, tol = 0.000001, class_weight = "balanced",random_state = 42)
model_logistic.fit(xtrain,ytrain)

LogisticRegression(C=0.0001, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=42, solver='lbfgs', tol=1e-06, verbose=0,
                   warm_start=False)

In [67]:
predict_logistic=model_logistic.predict(xtest)

In [68]:
confusion_matrix(ytest,predict_logistic)

array([[54, 16],
       [ 7,  9]], dtype=int64)

In [69]:
from sklearn.metrics import roc_auc_score

In [70]:
auc_logistic=roc_auc_score(ytest,predict_logistic)
auc_logistic

0.6669642857142858

In [71]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(ytest,predict_logistic)
accuracy

0.7325581395348837

In [72]:
from sklearn.ensemble import RandomForestClassifier

In [73]:
model_rf = RandomForestClassifier(max_depth = 20,criterion='entropy',n_estimators = 50)
model_rf.fit(xtrain,ytrain)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=20, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [74]:
predict_rf=model_rf.predict(xtest)

In [75]:
auc_rf=roc_auc_score(ytest,predict_rf)
auc_rf

0.6616071428571428